@charset "utf-8";
/* CSS Document */

.image_bar{
	width:50%;
	margin-left:25%;
	margin-right:25%;
}

.small_images{
	width:20%;
	height:20%;
	float:left;
	
	}
	
.view_image{
	width:100%;
	
	}
	
.bar div{
	display: none;
	}
	
.bar div:target {
    display: block;
}